@model IEnumerable<string>

<a class="btn btn-block btn-outline-secondary " asp-action="Index"
   asp-controller="Home" asp-route-category="">
    Home
</a>

@foreach (string c in Model)
{
    <a class="btn btn-block 
       @(c == ViewBag.SelectedCategory 
        ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@c"
       asp-route-productPage="1">
        @c
    </a>
}